[submodule "proNet-core"]
	path = proNet-core
	url = https://github.com/cnclabs/proNet-core.git
[submodule "jieba-zh_TW_NEPT_src"]
	path = jieba-zh_TW_NEPT_src
	url = https://github.com/wilson8507/jieba-zh_TW_NEPT_src.git
