[submodule "jieba-zh_TW"]
	path = jieba-zh_TW
	url = https://github.com/ldkrsi/jieba-zh_TW.git
[submodule "proNet-core"]
	path = proNet-core
	url = https://github.com/cnclabs/proNet-core.git
[submodule "GraphSAGE"]
	path = GraphSAGE
	url = https://github.com/williamleif/GraphSAGE.git
