[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
networkx = "==1.11"
scikit-learn = "*"
numpy = "*"
scipy = "*"
annoy = "*"
gensim = "*"
tqdm = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
jieba = "*"

[dev-packages]

[requires]
python_version = "3.6"
