[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
numpy = "*"
scipy = "*"
annoy = "*"
gensim = "*"
tqdm = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
jieba = "*"
sklearn = "*"
"beautifulsoup4" = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.6"
